<main class="main">
  <div class="content">

    <div class="container-fluid p-5 bg-info text-white text-center">
      <h1>MU Desc Editor</h1>
      <p>It formats descs for you. Just start typing!</p>
      <p>TODO: Save state, switch between characters, support morphs, support multiple morphs, support custom desc list names/dirs.</p>
      <p>Based on <a href="https://desc.nivik.net/">Nivik's Desc Tool</a></p>
    </div>

    <app-desc-component
      class="desc-container"
      [desc]="desc"
      ></app-desc-component>
  </div>
</main>

<router-outlet />
