<form [formGroup]="sectionForm">
  <input type="hidden" formControlName="type"/>

  <div class="form-group">
    <textarea
      formControlName="text"
      id="sectionText"
      class="form-control section-text"
      rows="6"
      ></textarea>
  </div>

  <div class="row">

    <div class="form-check col-2">
      <label for="forceWrap">
        Force Wrap
      </label>
      <input type="checkbox"
        formControlName="forceWrap"
        id="forceWrap"
        class="form-check-input"
        tabindex="-1"
        />
    </div>

    <div class="form-group col-2">
      <button type="button"
        class="btn btn-outline-warning btn-sm"
        (click)="deleteSection.emit(sectionIndex)"
        tabindex="-1"
        >
        <i class="fa fa-x"></i>
        Delete Body
      </button>
    </div>

  </div>
</form>
