/* You can add global styles to this file, and also import other style files */

textarea {
  font-family: monospace;
}

.width100 {
  width: 100%;
}

.form-control {
   border: 1px solid rgba(0,0,0,0.5)
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
